@model ClinicasModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h3>Lista de Clínicas</h3>
    <a type="button" class="btn btn-primary float-end" asp-controller="Clinicas" asp-action="Add">Novo Cadastro</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>CNPJ</th>
                <th>Nome Fantasia</th>
                <th>Endereço</th>
                <th>Número</th>
                <th>Bairro</th>
                <th>CEP</th>
                <th>Telefone</th>
                <th>Cidade</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var clinica in Model.Clinicas)
            {



                <tr>
                    <td>@clinica.CNPJ</td>
                    <td>@clinica.Nome</td>
                    <td>@clinica.Rua</td>
                    <td>@clinica.Numero</td>
                    <td>@clinica.Bairro</td>
                    <td>@clinica.Cep</td>
                    <td>@clinica.Telefone</td>
                    <td>@clinica.Cidade</td>
                    <td>@clinica.UF</td>
                    <td>
                        <div>
                            <a type="button" class="btn btn-warning" asp-route-id="@clinica.Id" asp-controller="Clinicas" asp-action="Update">Editar</a>
                            <a type="button" class="btn btn-danger" asp-route-id="@clinica.Id" asp-controller="Clinicas" asp-action="Delete">Excluir</a>
                        </div>

                    </td>

                </tr>

            }

        </tbody>


    </table>
</div>
